VITE_GOOGLE_CLIENT_ID=google-oauth-client-id
VITE_GOOGLE_DRIVE_SCOPE=google-drive-scope
VITE_GOOGLE_REDIRECT_URI=google-oauth-redirect-uri
GOOGLE_CLIENT_SECRET=google-oauth-client-secret

TEST_API_HOSTsvelte-app-host
TEST_API_PORTsvelte-app-port
TEST_APP_RETURN_URL=svelte-app-return-url

