VITE_GOOGLE_CLIENT_ID=google-oauth-client-id
VITE_GOOGLE_DRIVE_SCOPE=google-drive-scope
VITE_GOOGLE_REDIRECT_URI=google-oauth-redirect-uri
GOOGLE_CLIENT_SECRET=google-oauth-client-secret
TEST_APP_RETURN_URL=svelte-app-return-url

VITE_PARSE_APP_ID=parse-app-id
VITE_PARSE_JS_KEY=parse-javascript-key
VITE_PARSE_SERVER_URL=parse-server-url
